server.port: 8080
server.error.include-message: always

springdoc.api-docs.enabled: true
springdoc.api-docs.groups.enabled: true
springdoc.swagger-ui.path: /swagger/swagger-ui.html
springdoc.api-docs.path: /swagger/v3/api-docs

spring:
  application.name: appointment-ms
  webflux.base-path: /api/v1/
  r2dbc:
    url: r2dbc:mysql://localhost:3306/appointment_ms
    username: spring-reactive-user
    password: ywB[]8Caf87ECQK1
  liquibase:
    change-log: db/changelog/changelog.yml
    enabled: true
  reactor:
    debug-agent:
      enabled: true
      
logging:
  level:
    '[reactor.netty.http.client]': DEBUG
    
application:
  reactive-logging-filter:
    enabled: false